<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Patient View"
            class="com.xkland.examples.rcp.minihis.views.PatientView"
            id="com.xkland.examples.rcp.minihis.views.PatientView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.editorss"
               relationship="right"
               id="com.xkland.examples.rcp.minihis.views.PatientView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
