<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Patient View"
            class="com.xkland.examples.rcp.minihis.views.PatientView"
            id="com.xkland.examples.rcp.minihis.views.PatientView">
      </view>
      <view
            class="com.xkland.examples.rcp.minihis.views.DepartmentDetailView"
            id="com.xkland.examples.rcp.minihis.views.DepartmentDetailView"
            name="Department Detail View"
            restorable="true">
      </view>
      <view
            class="com.xkland.examples.rcp.minihis.views.SelectionView"
            id="com.xkland.examples.rcp.minihis.views.SelectionView"
            name="Selection View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.xkland.examples.rcp.minihis.views.PatientView">
         </view>
         <view
               id="com.xkland.examples.rcp.minihis.views.DepartmentDetailView"
               minimized="false"
               ratio="0.4"
               relationship="right"
               relative="com.xkland.examples.rcp.minihis.views.PatientView"
               visible="true">
         </view>
         <view
               id="com.xkland.examples.rcp.minihis.views.SelectionView"
               minimized="false"
               ratio="0.3"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.xkland.examples.rcp.minihis.commands.admit"
            name="入院">
      </command>
      <command
            id="com.xkland.examples.rcp.minihis.commands.leave"
            name="出院">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.xkland.examples.rcp.minihis.toolbar">
            <command
                  commandId="com.xkland.examples.rcp.minihis.commands.admit"
                  icon="icons/admit_32.png"
                  label="入院"
                  style="push"
                  tooltip="入院">
            </command>
            <command
                  commandId="com.xkland.examples.rcp.minihis.commands.leave"
                  icon="icons/leave_32.png"
                  label="出院"
                  style="push"
                  tooltip="出院">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
